Using Input Function takes one number from the user and using ternary operator and check whether the number is even or odd

In [1]:
num=int(input("Enter a Number"))
print("This Number is Even ") if num%2==0 else print("This NUmber is Odd")

Enter a Number12
This Number is Even

Using Input Function take two numbers and then swap the number

In [1]:
Num1=int(input("Input 1st Number"))
Num2=int(input("Input 2nd number"))
print(Num1)
print(Num2)
Num1,Num2=Num2,Num1
print(Num1)
print(Num2)

Input 1st Number23
Input 2nd number12
23
12
12
23

Write a program to convert kilometres to miles

In [5]:
def kmtomiles(kilometres):
    kmtomiles=0.621371
    miles=kilometres*kmtomiles
    return miles
kilometres=float(input("Enter the Distance in Km"))
miles=kmtomiles(kilometres)
print("the miles are", miles)

Enter the Distance in Km12
the miles are 7.4564520000000005

Find the Simple Interest on Rs.200 for 5 years at 5% per Year

In [9]:
def Simple_Interest(principal,rate,time):
    interest=(principal*rate*time)/100
    return interest
principal=200
rate=5
time=5
Final_Amount=Simple_Interest(principal,rate,time)
print(Final_Amount)

50.0