In [ ]:
#Even or odd
num=int(input("Enter a number:"))
if num%2==0:
    print("it is Even")
else:
    print("it is odd")

In [ ]:
#Take 5 subject mark and find grade
Sub1=int(input("Enter the mark"))
Sub2=int(input("Enter the mark"))
Sub3=int(input("Enter the mark"))
Sub4=int(input("Enter the mark"))
Sub5=int(input("Enter the mark"))
#Taking Inputs From The User
total =Sub1+Sub2+Sub3+Sub4+Sub5
Average=total/5

if Average>=90:
    grade='A'
elif Average>=80:
    grade='B'
elif Average>=70:
    grade='C'
elif Average>=60:
    grade='D'
else:
    grade:'F'
#Printing the Average Marks And Grades        
print("Average=", Average)
print("Grade=", grade)

In [ ]:
#Prime or Not
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num):#taking the input from 2 as 1 is not a prime number
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

In [ ]:
#Take User input of Student(Id,Name,Age, City,Phone Number)And Display
student_id = int(input("Enter Student ID: "))
name = input("Enter Student Name: ")
age = int(input("Enter Student Age: "))
city = input("Enter Student City: ")
phone = int(input("Enter Student Phone Number: "))
# Displaying the Student details
print("\nStudent Details:")
print("Student ID:", student_id)
print("Student Name:", name)
print("Student Age:", age)
print("Student City:", city)
print("Student Phone Number:", phone)

In [ ]:
#Using Input Function takes one number from the user and using ternary operator and check whether the number is even or odd

In [ ]:
num=int(input("Enter a Number"))
print("This Number is Even ") if num%2==0 else print("This NUmber is Odd")

In [1]:
#Using Input Function take two numbers and then swap the number

In [ ]:
Num1=int(input("Input 1st Number"))
Num2=int(input("Input 2nd number"))
print(Num1)
print(Num2)
Num1,Num2=Num2,Num1
print(Num1)
print(Num2)

In [2]:
#Write a program to convert kilometres to miles

In [ ]:
def kmtomiles(kilometres):
    kmtomiles=0.621371
    miles=kilometres*kmtomiles
    return miles
kilometres=float(input("Enter the Distance in Km"))
miles=kmtomiles(kilometres)
print("the miles are", miles)

In [3]:
#Find the Simple Interest on Rs.200 for 5 years at 5% per Year

In [ ]:
def Simple_Interest(principal,rate,time):
    interest=(principal*rate*time)/100
    return interest
principal=200
rate=5
time=5
Final_Amount=Simple_Interest(principal,rate,time)
print(Final_Amount)